.header__tophead{
    height: 45px;
    line-height: 45px;
    /* border-bottom: 1px dashed var(--text); */
    background-color: #F05454;
}
.tophead__container{
    display: flex;
    justify-content:space-between;
}
.tophead__contact{
    display: flex;
    justify-content: space-around;
}
.contact__HL{
    font-size: 1.8rem;
    /* color: #999; */
    color: white;
    font-weight: bold;
}
.contact__numberphone{
    font-size: 2rem;
    /* color: var(--primary); */
    color: #fff;
    margin-left: 4px;
}
.contact__numberphone:hover{
    color: var(--text);
}
.tophead__list{
    display: flex;
}
.tophead__search{
    position: relative;
    margin-top: 7px;
    width: 270px;
    height: 30px;
}
.search__input{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    background-color: rgb(255, 248, 248);
    border: none;
    outline: none;
    width: 270px;
    height: 30px;
    color: var(--text);
    font-size: 1.6rem;
    border-radius: 5px;
    padding-left: 12px;
    font-weight: 100;
}
.search__btn{
    position: absolute;
    top: 1px;
    right: 0;
    border: none;
    background-color:transparent;
    width: 40px;
    height: 90%;
    border-left: 1px solid var(--primary);
    
}
.search__icon{
    color: var(--primary);
    font-size: 1.8rem;
}
.tophead__account{
    margin: 0 28px;
}
.account__login, .account__register{
    text-decoration: none;
    /* color: #8d8d8d; */
    color: #fff;
    font-size: 1.6rem;
    font-weight: 100;
}
.account__and{
    color: #fff;
    font-size: 1.4rem;
    margin: 0 4px;
    font-weight: bold;
}
.account__register:hover{
    /* color: var(--primary); */
    color: black;
  
}
.account__login:hover{
    /* color: var(--primary); */
    color: black;
}
/* mid head */
.header__midhead{
    height: 95px;
    padding-top: 10px;
    display: grid;
    grid-template-rows: auto auto;
}
.midhead__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 95px;
}
.midhead__img{
    margin-right: auto;

}
.midhead__nav{
    text-align: center;
    margin-right: auto;
}
.midhead__list{
    display: flex;
    list-style:none;
    padding: 0;
}
.midhead__item{
    min-width: 120px;
    position: relative;
    /* padding: 0 16px; */
    margin-right: 50px;
}
.midhead__item:nth-child(4){
    padding-right: 0;
}
.midhead__item:last-child{
    padding-left: 0;
}
.item__small{
    position: absolute;
    top: 32px;
    left: 8px;
    list-style: none;
    padding: 0;
    width: 200px;
    background-color: #ebe8e8;
    border-radius: 3px;
    box-shadow: 5px 2px 10px #d8d4d4;
    transform-origin: top;
    animation: fadeIn ease 0.3s;
    display: none;
    z-index: 1;
}
.item__small::after{
    content: "";
    position: absolute;
    top: -5px;
    left: 0px;
    width: 200px;
    height: 10px;
    display: block;
    cursor: pointer;
}
.midhead__item:hover .item__small{
    display: block;
}
.item__small-list{
    width: 100%;
}
.item__small-link{
    text-decoration: none;
    display: block;
    width:inherit;
    padding: 10px 20px;
    color: var(--black);
    font-size: 1.6rem;
    text-align: left;
    font-weight: 400;
    border-bottom: 1px solid rgb(219, 214, 214);
}
.item__small-link:hover{
    color: var(--primary);
}

.midhead__link{
    display: block;
    text-decoration: none;
    color: var(--black);
    text-align: center;
    font-size: 2rem;
    height: 30px;
    text-align: left;
    font-weight: 300;
}
.item__small-icon{
    margin-left: 20px;
}
.midhead__item:first-child .midhead__link{
    color: var(--primary);
}
.midhead__item:hover .midhead__link{
    color: var(--primary);
    text-decoration: none;
}

/* cart */
.midhead__cart{
    position: relative;
    margin:0 72px;
}
.cart__link{
    display: block;
}
.cart__icon{ 
    font-size: 2.5rem;
    color: var(--primary);
}
.cart__count{
    width: 24px;
    height: 24px;
    text-align: center;
    background-color: rgb(243, 236, 236);
    border-radius: 50%;
    position: absolute;
    font-size: 1.6rem;
    line-height: 24px;
    top: -11px;
    right: -11px;
    
}


/* bottomhead */
.header__bottomhead{
    overflow: hidden;
    position: relative;
   display: flex;
   justify-content:center;
   align-items: center;
   margin: auto;

}
.bottomhead-banner{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.bottomhead-logo{
    position: absolute;
    top:40%;
    right: 40%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    font-size: 50px;
    color: black;
    border: 3px solid black;
    height: 200px;
    background-color: rgba(247, 247, 247, 0.815);
    translate:-50%,0;
    z-index: 10;
}
.logo-text{
    margin: 30px;
}

.bottomhead__img{
   width: 100%;
    height: 480px;
   max-width: 100%;
    max-height: 100%;
    transition: all 1s;
    
    
}
.bottomhead__img:hover{ 
    transform: scale(1.2);
 }
/* footer */
.footer{
    background-image: url(../images/footer.jpg);
    padding: 45px 0 0 0;
}
.footer__widget{
    width: 100%;
    height: 100%;
}
.widget__heading{
    font-size: 1.8rem;
    font-weight: 200;
    color: var(--white);
    padding: 0 0px 10px 6px;
}
.widget__address, .widget__email{
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 6px;
}
.address__icon, .email__icon{
    color: var(--primary);
    font-size: 1.4rem;
    margin-right: 10px;
}
.address__name, .email__address {
    color: var(--white);
    font-weight: 400;
    font-size: 1.4rem;
    width: calc(100% - 20px);
}


.widget__span{
    font-size: 1.4rem;
    color: var(--white);
    font-weight: 400;
}
.sale__info{
    
    height: 34px;
    width: 100%;
    margin-top: 10px;
}
.widget__input{
    height: 34px;
    width: 100%;
    border-radius: 4px;
    border: none;
    outline: none;
    padding-left: 13px;
}
.widget__input:hover{
    border:2px solid var(--primary);
}
.widget__btn{
    position: relative;
    min-width: 63px;
    height: 34px;
    background-color: var(--primary);
    color: var(--white);
    font-weight: 400;
    border: none;
    /* border-radius: 5px; */
    padding: 0 12px;
    margin-top: 15px;
    cursor: pointer;
}
.widget__btn:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    top: -4px;
    left: -4px;
    transition: 0.5s;
}
.widget__btn:hover:before {
    width: 105%;
    height: 110%;
     
 }
.widget__btn:after{
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    bottom: -4px;
    right: -4px;
    transition: 0.5s;
}
.widget__btn:hover:after {
    width: 105%;
    height: 110%;
 }

.sale__heading{
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 200;
}
.footer__list{
    padding: 6px;
    list-style: none;
    display: flex;
}
.footer__item{
    padding: 6px 6px 6px 0;
}
.footer__link{
    display: block;
    text-decoration: none;
    color: var(--white);
    font-size: 1.4rem;
    
}
.footer__link:hover{
    color: var(--primary);
    text-decoration: none;
}
.footer__icon{
    color: var(--primary);
    font-size:1.4rem ;
    margin-right: 4px;
}
.footer__copyfight{
    height: 60px;
    background-color: rgba(255, 255, 255,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.copyrignt__text{
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 100;
}

/* responsive */

/* responsive */

/* nav mobile */
.midhead-mobile__icon{
    font-size: 2rem;
    color: #666;
    margin:0 130px 0 10px;
    display: none;
}
.midhead-mobile__overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    z-index: 1;
    animation: fadeIn linear 0.2s;
}
.midhead-mobile__nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    background-color: #fff;
    z-index: 2;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
}
.mobile-nav__list{
    list-style: none;
    padding: 0px 18px;
}
.mobile-list__item{
    border-bottom: 0.5px solid #666;
}
.mobile-list__link{
    text-decoration: none;
    color: var(--text);
    display: block;
    padding: 25px 30px;
    font-size: 1.6rem;
    transition: transform ease-in 0.2s;
}
.mobile-list__link:hover{
    color: var(--primary);
    transform: translateY(-2px);
}
.nav-mobile__close{
    position: absolute;
    top: 15px;
    right: 20px;
    color: var(--text);
    font-size: 3rem;
    cursor: pointer;
}
#check-input{
    display: none;
}
.midhead-mobile__check:checked ~ .midhead-mobile__overlay{
    display: block;
}
.midhead-mobile__check:checked ~ .midhead-mobile__nav{
    transform: translateX(0);
    opacity: 1;
}
/* search mobile */
.mobile__search{
    height: 100px;
    background-color: rgb(243, 180, 180);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
    margin-bottom: 30px;
}
.mobile-search__item{
    position: relative;
    display: flex;
    width: 220px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    
}
.mobile-search__input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color:#f7f3f3 ;
    padding-left: 10px;
    overflow: hidden;
    border-radius: 5px;
}
.mobile-search__icon{
    position: absolute;
    top: 9px;
    right: 6px;
    font-size: 2rem;
    text-align: center;
    color: var(--primary);
}
.mobile-search__icon::after{
    content: "";
    position: absolute;
    top: -3px;
    right: 25px;
    height: 120%;
    border-left: 1px solid #666;

}
/* mobile & tablet */
@media (max-width: 1023px) {
    .tophead__search{
        display: none;
    }
    .midhead__nav{
        display: none;
    }
    .midhead-mobile__icon{
        display: block;
    }

    .cart__header{
        display: none;
    }
    .cart__body-text{
        font-size: 1.8rem;
        line-height: 1.8rem;
        max-height: 3.2rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .cart__body-input{
        width: 30%;
        padding-left: 22px;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px){

}

/*  Mobile */
@media (max-width: 739px){
    .header__tophead{
        padding: 12px;
    }
    .midhead__img{
       width: 192px;
       margin-right: 0;
    }
    .midhead-mobile__icon{
        margin:0 12px 0 10px;
    }
    .midhead__container{
        margin-left: 0px;
    }
    .bottomhead-logo{
        z-index: 1;
        right: 30%;
    }
    .midhead__cart{
       margin: 0 0 0 10px;
    }
    /* cart */

    .cart__header{
        display: none;
    }
    .cart__body-text{
        font-size: 1.6rem;
        line-height: 1.6rem;
        max-height: 4.8rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    .cart__body-input{
        width: 100%;
        padding-left: 22px;
    }
    .cart__img{
        width: 100%;
    }
    /* login */
    .account__login, .account__register{
        font-size: 1.2rem;
    }
    .tophead__contact{
        font-size: 1.4rem;
    }
    /* product */
    .product__buy{
        flex-wrap: wrap;
    }
    .footer{
        padding: 12px 12px;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}